:root {
    --dark-blue: #0F3C4Fff;
    --red: #8B3941ff;
    --green: #60908Eff;
    --teal: #2E5E6A;
    --blue: #1D4D5E;
    --desaturated-dark-blue:  #153949;
    --default-font-size: 1.25rem;
}

body {
    font-family: helvetica, arial, sans-serif;
    font-size: var(--default-font-size);
    color: white;
}

a {
    color: white;
}

h1 {
    font-family: sans-serif;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: var(--default-font-size);
    font-style: italic;
    font-weight: normal;
}


details {
    cursor: pointer;  /* cursor should be hand, not standard mouse arrow so user knows this is clickable */
}

/* highlight text by giving it a white background, text colour needs to be set per section */
em {
    font-style: normal;
    background: white;
    border-radius: 0.1rem;
    padding: 0 0.2rem 0 0.2rem;
}


/*
***********************************************
               INTRO
***********************************************
*/

#intro {
    background: var(--dark-blue);
}

#intro > img {
    border-radius: 50%;
}

/*
***********************************************
               FOMO
***********************************************
*/


#fomo {
    background: var(--red);
}

#fomo .quote {
    border: 1px solid white;
    border-radius: 0.1rem;

    font-size: 1.5rem;
    font-weight: 500;
}

/*
***********************************************
               WE-GOT-YA
***********************************************
*/

#we-got-ya {
    background: var(--green);
}


#we-got-ya a{
    font-weight: 600;
}


/*
***********************************************
               TEACHING PHILOSOPHY
***********************************************
*/

#teaching-philosophy {
    background: var(--teal);
}

#teaching-philosophy em {
    color: var(--teal);
}

#teaching-philosophy summary {
    font-variant: small-caps;
    font-weight: 700;
}

#teaching-philosophy details p {
    text-align: justify;
}


/*
***********************************************
               PREVIOUS TRAININGS
***********************************************
*/

#previous-trainings {
    background: var(--blue);
}


#previous-trainings summary {
    font-variant: small-caps;
    font-weight: 700;
}

#previous-trainings details p {
    text-align: justify;
}



/*
***********************************************
               TRAINERS
***********************************************
*/


#trainers {
    background: var(--dark-blue);
}

#trainers img {
    border-radius: 50%;
}

#trainers #profile-container p {
    text-align: justify;
    font-size: 1rem;
}


#trainers .icon-group a {
    text-decoration: none; /* Remove the default underline of the link */
}

/*
***********************************************
              CONTACT
***********************************************
*/

#contact {
    background: var(--desaturated-dark-blue);
}


/*
***********************************************
               IMPRINT
***********************************************
*/

#imprint {
    background: white;
    color: var(--dark-blue);
}

#imprint a {
    color: var(--dark-blue);
}


