body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.25rem;
    width: 100%;
    color: white;
}

a {
    color: white;
}

h2 {
    font-size: 1.5rem;
}


/*
***********************************************
               INTRO
***********************************************
*/

#intro {
    background: #0F3C4Fff;
}

#intro > img {
    border-radius: 50%;
    max-width: 80%;
}

/*
***********************************************
               FOMO
***********************************************
*/


#fomo {
    background: #8B3941ff;
}

#fomo .quote {
    border: 1px solid white;
    border-radius: 0.1rem;

    font-size: 1.5rem;
    font-weight: 500;

    padding: 1em;
    margin: auto; /*  vertically center the text */

}

/*
***********************************************
               WE-GOT-YA
***********************************************
*/

#we-got-ya {
    background: #60908E;
}


/*
***********************************************
               TEACHING PHILOSOPHY
***********************************************
*/

#teaching-philosophy {
    background: #2E5E6A;
}


#teaching-philosophy .intro-para {
    font-variant: small-caps;
    font-weight: bold;
}

/*
***********************************************
               PREVIOUS TRAININGS
***********************************************
*/

#previous-trainings {
    background: #1D4D5E;
}

/* there should not be a line-break in a heading in summary  */
summary > h3 {
    display: inline
}

details {
    padding: 3rem;
    border-bottom: 1px solid white;
}

/* all <details> already got a bottom border above, but the top ones also need a top border */
details:nth-child(-n+2) {
    border-top: 1px solid white;
}


/*
***********************************************
               TRAINERS
***********************************************
*/


#trainers {
    background: #0F3C4Fff;
}

#trainers img {
    border-radius: 2%;
}

#trainers p {
    text-align: justify;
    font-size: 1rem;
}


#trainers .icon-group a {
    text-decoration: none; /* Remove the default underline of the link */
}


/*
***********************************************
               IMPRINT
***********************************************
*/

#imprint {
    background: white;
    color: #0F3C4Fff;
}

#imprint a {
    color: #0F3C4Fff;
}


