:root {
    --dark-blue: #0F3C4Fff;
    --red: #8B3941ff;
    --green: #60908Eff;
    --teal: #2E5E6A;
    --blue: #1D4D5E;
}

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.25rem;
    width: 100%;
    color: white;
}

a {
    color: white;
}

h2 {
    font-size: 1.5rem;
}

.highlight {
    background: white;
    border-radius: 0.1rem;
    padding: 0 0.2rem 0 0.2rem;
}


/*
***********************************************
               INTRO
***********************************************
*/

#intro {
    background: var(--dark-blue);
}

#intro > img {
    border-radius: 50%;
    max-width: 80%;
}

/*
***********************************************
               FOMO
***********************************************
*/


#fomo {
    background: var(--red);
}

#fomo .quote {
    border: 1px solid white;
    border-radius: 0.1rem;

    font-size: 1.5rem;
    font-weight: 500;

    padding: 1em;
    margin: auto; /*  vertically center the text */

}

/*
***********************************************
               WE-GOT-YA
***********************************************
*/

#we-got-ya {
    background: var(--green);
}

#we-got-ya .highlight {
    color: var(--green);
}


/*
***********************************************
               TEACHING PHILOSOPHY
***********************************************
*/

#teaching-philosophy {
    background: var(--teal);
}

#teaching-philosophy summary {
    font-variant: small-caps;
    font-weight: 800;
}

#teaching-philosophy .highlight {
    color: var(--teal);
}

/*
***********************************************
               PREVIOUS TRAININGS
***********************************************
*/

#previous-trainings {
    background: var(--blue)
}

/* there should not be a line-break in a heading in summary  */
#previous-trainings summary > h3 {
    display: inline
}

#previous-trainings details {
    padding: 3rem;
    border-bottom: 1px solid white;
}

/* all <details> already got a bottom border above, but the top ones also need a top border */
#previous-trainings details:nth-child(-n+2) {
    border-top: 1px solid white;
}


/*
***********************************************
               TRAINERS
***********************************************
*/


#trainers {
    background: var(--dark-blue);
}

#trainers img {
    border-radius: 2%;
}

#trainers p {
    text-align: justify;
    font-size: 1rem;
}


#trainers .icon-group a {
    text-decoration: none; /* Remove the default underline of the link */
}


/*
***********************************************
               IMPRINT
***********************************************
*/

#imprint {
    background: white;
    color: var(--dark-blue);
}

#imprint a {
    color: var(--dark-blue);
}


