body {
    margin: 0 0 0 0 ;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* vertical gap between items */
    /*gap: 30px;*/
}

span {
    max-width: 30rem;
}

.section {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;

    padding: 3rem 0 3rem 0;
    gap: 2rem;

    /*height: 40rem;
    justify-content: space-around;*/
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 3rem;
    padding-bottom: 3rem;
}

#intro {
    text-align: center;
}

#intro > #intro-sub {
    display: flex;
    flex-direction: column;
}

#fomo {
    height: 20rem;
}


#we-got-ya {
    height: 20rem;
}

#teaching-philosophy {
    height: 20rem;
}


.trainer-profile {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}