body {
    font-family: helvetica, arial, sans-serif;
    width: 100%;
    color: white;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: -1rem;
}

h1 {
    font-size: 3rem;
}

#intro {
    background: #0F3C4Fff;
}

#intro > img {
    border-radius: 50%;
    max-width: 80%;
}

#fomo {
    background: #8B3941ff;
}

#we-got-ya {
    background: #60908E;
}

#teaching-philosophy {
    background: #2E5E6A;
}

#previous-trainings {
    background: #1D4D5E;
}

#trainers {
    background: #0F3C4Fff;
}

#trainers img {
    border-radius: 2%;
}

#imprint {
    background: white;
    color: #0F3C4Fff;
}



details {
    cursor: pointer;
    padding: 3rem;
    border-bottom: 1px solid white;
}

/* all <details> get a bottom border, but the top ones also need a top border */
details:nth-child(-n+2) {
    border-top: 1px solid white;
}

/* there should not be a line-break in a heading in summary  */
summary > h3{
    display:inline
}


/* turn the standard triangle in front of summary into a "+" */
/*summary {list-style: none}
summary::-webkit-details-marker {display: none; } /* todo */